################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/VHBurguer/VHBurguer.csproj
/VHBurguer/.env
