################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/VHBurguer/VHBurguer.csproj
/VHBurguer/.env
.env
.env.local
.env*.local   
**/.json/
**/.vs/
**/.bin/
**/.obj/
**/.vs/

